body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

strong {
  font-weight: 800; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
  font-weight: 800; }

img {
  display: block;
  margin: 0 auto; }

footer {
  width: 100%; }
  footer img {
    margin: 0 auto 2em auto;
    max-height: 5vh;
    width: auto; }
  footer ul {
    margin-bottom: 0; }

.off-canvas-wrapper {
  width: 100%; }

.off-canvas-content.has-reveal-right {
  margin-right: 33%; }

.container.row {
  padding: 0; }

.position-right {
  width: 100%;
  background: #fff;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }
  .position-right.off-canvas {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .position-right .form-container {
    height: 75vh; }

.aside a {
  display: block;
  margin: 0 auto; }

.aside .logo {
  display: block;
  margin: .5em auto;
  height: auto;
  max-height: 8vh; }

.aside h2 {
  font-size: 5vh;
  line-height: 1em;
  text-align: center; }

.aside .conversational-form p {
  font-family: 'Open sans', sans-serif;
  color: #000; }

.aside .conversational-form input {
  margin: 0; }

.aside cf-input {
  position: relative; }
  .aside cf-input textarea {
    margin: 0; }

.row {
  padding-top: 2em;
  padding-bottom: 2em; }

.logo-alto img {
  margin-bottom: 2em;
  max-width: 80%; }

.video-wrapper {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0 5%;
  height: 80vh;
  /*background-image: url(../assets/video-back-def.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  background: #a73737;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#7a2828), to(#a73737));
  background: -webkit-linear-gradient(left, #7a2828, #a73737);
  background: -o-linear-gradient(left, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  /*.playbutton-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .circle {
        stroke: #f8aa28;
        stroke-dasharray: 650;
        stroke-dashoffset: 650;
        -webkit-transition: all 0.5s ease-in-out;
        opacity: 0.3;
    }
    .playBut {
        &:not(.playbutton-container) {
            display: inline-block;
            -webkit-transition: all 0.5s ease;
        }
        .triangle {
            -webkit-transition: all 0.7s ease-in-out;
            stroke-dasharray: 240;
            stroke-dashoffset: 480;
            stroke: #000;
            transform: translateY(0)
        }
        &:hover {
            .triangle {
                stroke-dashoffset: 0;
                opacity: 1;
                stroke: #f8aa28;
                animation: nudge 0.7s ease-in-out;
                @keyframes nudge {
                    0% {
                        transform: translateX(0)
                    }
                    30% {
                        transform: translateX(-5px)
                    }
                    50% {
                        transform: translateX(5px)
                    }
                    70% {
                        transform: translateX(-2px)
                    }
                    100% {
                        transform: translateX(0)
                    }
                }
            }
            .circle {
                stroke-dashoffset: 0;
                opacity: 1;
            }
        }
        &:focus {
            outline: none;
        }
    }*/ }
  .video-wrapper .responsive-embed.widescreen {
    margin-bottom: 0;
    width: 100%; }

.fonte {
  font-size: .8em; }

.intro {
  padding-top: 3em;
  padding-bottom: 3em; }
  .intro img {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.list-wrapper {
  background: #a73737;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#7a2828), to(#a73737));
  background: -webkit-linear-gradient(left, #7a2828, #a73737);
  background: -o-linear-gradient(left, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }
  .list-wrapper ul {
    color: #fff;
    margin-top: 2em; }
    .list-wrapper ul li {
      padding-bottom: 1em; }

.brands-wrapper {
  background: #ddd; }

.inline-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .inline-brands > div {
    padding: 0 5%;
    max-width: 33%; }

.testimonial-wrapper {
  background: #a73737;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#7a2828), to(#a73737));
  background: -webkit-linear-gradient(left, #7a2828, #a73737);
  background: -o-linear-gradient(left, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }

.orbit-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .orbit-wrapper .orbit-container {
    margin: 0 auto;
    padding: 0 2rem; }

.orbit-controls button {
  background: none;
  color: #aaa;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .orbit-controls button:hover, .orbit-controls button:focus {
    background: none;
    color: #000; }

.orbit-bullets button {
  width: .5rem;
  height: .5rem;
  cursor: pointer; }

.button-container {
  position: fixed;
  bottom: 1em;
  right: 1rem; }
  .button-container button {
    margin: 0;
    background: #ee8900;
    color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .button-container button:hover, .button-container button:focus {
      background: #ee8900;
      color: #fff;
      outline: none;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

footer {
  background: #a73737;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#7a2828), to(#a73737));
  background: -webkit-linear-gradient(left, #7a2828, #a73737);
  background: -o-linear-gradient(left, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }

/*.reveal-overlay {
    background-color: rgba(10, 10, 10, 0.85);
}

.reveal {
    border: none;
    padding: 0;
    width: 60vw;
    max-width: 62.5rem;
    .close-button {
        position: fixed;
        color: #fff;
    }
    .fonte {
        background: #000;
        color: #fff;
        text-align: center;
    }
}*/
@media print, screen and (min-width: 40em) {
  .orbit-wrapper {
    margin: 0 auto;
    width: 66vw;
    height: 66vw; } }

@media print, screen and (min-width: 64em) {
  .video-wrapper {
    height: 100vh; }
  footer {
    width: 67%; }
  .position-right {
    width: 33%;
    -ms-transform: translateX(33%);
    -webkit-transform: translateX(33%);
    transform: translateX(33%); }
  .orbit-wrapper {
    width: 36vw;
    height: 36vw; } }
